@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins';
    color: white;
    font-size: 10px;
}

.roboto{
    font-family: 'Roboto Mono';
}

body{
    background: #232323;
}

header{
    position: sticky;
    top: 0;
    background-color: #19191968;

    .navbar{
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        .logo{
            object-fit: cover;
            width: 50px;
        }
        .menu{
            object-fit: contain;

        }
    }
}

.index-content{
    margin-left: 20px;
    margin-top: 150px;
    h2{
        margin-bottom: 15px;
        font-size: 1.6rem;
        font-weight: 400;
    }
    h1{
        font-size: 2.6rem;
        font-weight: 300;
        margin-bottom: 30px;
    }
    p{
        font-size: 1.6rem;
        font-weight: 300;
    }
}

.main-content{
    margin-left: 20px;
    margin-top: 20px;
    h2{
        margin-bottom: 15px;
        font-size: 1.6rem;
        font-weight: 400;
    }
    
    p{
        margin-bottom: 20px;
        font-size: 1.6rem;
        font-weight: 300;
    }
}

.image-content{
    margin-top: 50px;
    display: flex;
    justify-content: center;

    .image-moi{
        object-fit: cover;
        width: 50%;
        height: 190px;
        position: absolute;
    }

    .rectangle{
        margin-top: 10px;
        margin-left: 30px;
    }
}

.techno-content{
    margin-top: 50px;
    font-family: 'Roboto Mono';

    h2{
        font-weight: 400;
        font-size: 1.6rem;
        margin-bottom: 40px;
    }
}

.lists-content{
    font-size: 1.6rem;
    display: flex;
    justify-content: space-around;

    .list{
        margin-bottom: 20px;
        list-style: none;
    }
    .flex-list{
        margin-bottom: 10px;
        display: flex;

        img{
            object-fit: contain;
            margin-right: 10px;
        }
    }
}

.content-button{
    display: flex;
    justify-content: center;
    margin-top: 80px;

    .button{
        display: inline-flex;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
        border: #C6B840 solid 2px;

        .text-button{
            font-family: 'Roboto Mono';
            font-size: 1.6rem;

            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}
