@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins";
  color: white;
  font-size: 10px;
}

.roboto {
  font-family: "Roboto Mono";
}

body {
  background: #232323;
}

header {
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: rgba(25, 25, 25, 0.4078431373);
}
header .navbar-main {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}
header .navbar-main .logo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50px;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}
header .navbar .logo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50px;
}
header .navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(51, 51, 51, 0.5882352941);
  color: #fff;
}
header .navbar nav .burger-menu {
  display: none;
}
header .navbar nav .burger-menu .bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}
header .navbar nav .menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
header .navbar nav .menu-list li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
@media (max-width: 768px) {
  header .navbar nav .burger-menu {
    display: block;
    cursor: pointer;
  }
  header .navbar nav .menu-list {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: rgba(25, 25, 25, 0.6039215686);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }
  header .navbar nav .menu-list.active {
    opacity: 1;
    pointer-events: all;
    top: 100px;
  }
  header .navbar nav .menu-list.active li {
    opacity: 1;
    transform: translateY(0);
  }
  header .navbar nav .menu-list li {
    padding: 7px;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;
  }
  header .navbar nav .menu-list li:nth-child(1) {
    transition-delay: 0.1s;
  }
  header .navbar nav .menu-list li:nth-child(2) {
    transition-delay: 0.2s;
  }
  header .navbar nav .menu-list li:nth-child(3) {
    transition-delay: 0.3s;
  }
  header .navbar nav .menu-list li:nth-child(4) {
    transition-delay: 0.4s;
  }
  header .navbar nav .menu-list li a {
    font-size: 1.6rem;
  }
}

.index-content {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 150px;
}
.index-content h2 {
  margin-bottom: 15px;
  font-size: 1.6rem;
  font-weight: 400;
}
.index-content h1 {
  font-size: 2.6rem;
  font-weight: 300;
  margin-bottom: 30px;
}
.index-content p {
  font-size: 1.6rem;
  font-weight: 300;
}

.main-content {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
.main-content h2 {
  margin-bottom: 15px;
  font-size: 1.6rem;
  font-weight: 400;
}
.main-content p {
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: 300;
}

.image-content {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.image-content .image-moi {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
  height: 190px;
  position: absolute;
}
.image-content .rectangle {
  margin-top: 10px;
  margin-left: 30px;
}

.techno-content {
  margin-top: 50px;
  font-family: "Roboto Mono";
}
.techno-content h2 {
  margin-left: 20px;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 40px;
}

.lists-content {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-around;
}
.lists-content .list {
  margin-bottom: 20px;
  list-style: none;
}
.lists-content .flex-list {
  margin-bottom: 10px;
  display: flex;
}
.lists-content .flex-list img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}

.content-button {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.content-button .button {
  display: inline-flex;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: #C6B840 solid 2px;
}
.content-button .button .text-button {
  font-family: "Roboto Mono";
  font-size: 1.6rem;
}
.content-button .button .text-button a {
  text-decoration: none;
  color: white;
}

.projects {
  margin-top: 60px;
}
.projects h2 {
  margin-left: 20px;
  font-weight: 400;
}
.projects .project-content {
  margin-top: 60px;
}
.projects .project-content .project-title {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  gap: 10%;
}
.projects .project-content .project-title img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 25px;
}
.projects .project-content .p-image-content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.projects .project-content .p-image-content .p-image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 70%;
  height: 190px;
  position: absolute;
}
.projects .project-content .p-image-content .p-rectangle {
  margin-top: 30px;
  margin-left: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 70%;
}
.projects .project-content .p-image-content .p-image-m {
  -o-object-fit: contain;
     object-fit: contain;
  width: 30%;
  position: absolute;
}
.projects .project-content .p-image-content .p-rectangle-m {
  margin-top: 10px;
  margin-left: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 30%;
}
.projects .project-content .p-texte {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}
.projects .project-content .p-texte p {
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */