@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Poppins';
    color: white;
    font-size: 10px;
}

.roboto{
    font-family: 'Roboto Mono';
}

body{
    background: #232323;
}

header{
    position: sticky;
    z-index: 10;

    top: 0;
    background-color: #19191900;

.navbar-main{
        display: flex;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    .logo{

        object-fit: cover;
            width: 50px;
    }
}

    .navbar{
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
        .logo{
            object-fit: cover;
            width: 50px;
        }
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #333333e1;
            color: #fff;
        
            .burger-menu {
                display: none;

                .bar {
                width: 25px;
                height: 3px;
                background-color: #fff;
                margin: 5px 0;
                }
            }
            
            .menu-list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                margin: 0;
                padding: 0;
                
                li a {
                color: #fff;
                text-decoration: none;
                padding: 20px;
                font-size: 1.2rem;
                }
            }
            
            @media (max-width: 768px) {

                .burger-menu {
                    display: block;
                cursor: pointer;
                }
                
                .menu-list {
                position: absolute;
                top: 80px;
                left: 0;
                width: 100%;
                background-color: #1919198f;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                opacity: 0;
                pointer-events: none;
                transition: all 0.3s ease-in-out;
                    
                &.active {
                    opacity: 1;
                    pointer-events: all;
                    top: 100px;
                    
                    li {
                    opacity: 1;
                    transform: translateY(0);
                    }
                }
                
                li {
                    padding: 7px;
                    opacity: 0;
                    transform: translateY(-20px);
                    transition: all 0.3s ease-in-out;
                    
                    &:nth-child(1) {
                    transition-delay: 0.1s;
                    }
                    
                    &:nth-child(2) {
                    transition-delay: 0.2s;
                    }
                    
                    &:nth-child(3) {
                    transition-delay: 0.3s;
                    }
                    
                    &:nth-child(4) {
                    transition-delay: 0.4s;
                    }

                    a {
                    font-size: 1.6rem;
                    }
                }
                }
            }
            }
            
    }
}

.index-content{
    margin-right: 20px;

    margin-left: 20px;
    margin-top: 150px;
    h2{
        margin-bottom: 15px;
        font-size: 1.6rem;
        font-weight: 400;
    }
    h1{
        font-size: 2.6rem;
        font-weight: 300;
        margin-bottom: 30px;
    }
    p{
        font-size: 1.6rem;
        font-weight: 300;
    }
}

.main-content{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    h2{
        margin-bottom: 15px;
        font-size: 1.6rem;
        font-weight: 400;
    }
    
    p{
        margin-bottom: 20px;
        font-size: 1.6rem;
        font-weight: 300;
    }
}

.image-content{
    margin-top: 50px;
    display: flex;
    justify-content: center;

    .image-moi{
        object-fit: cover;
        width: 50%;
        height: 190px;
        position: absolute;
    }

    .rectangle{
        margin-top: 10px;
        margin-left: 30px;
    }
}

.techno-content{
    margin-top: 50px;
    font-family: 'Roboto Mono';

    h2{
        margin-left: 20px;
        font-weight: 400;
        font-size: 1.6rem;
        margin-bottom: 40px;
    }
}

.lists-content{
    font-size: 1.6rem;
    display: flex;
    justify-content: space-around;

    .list{
        margin-bottom: 20px;
        list-style: none;
    }
    .flex-list{
        margin-bottom: 10px;
        display: flex;

        img{
            object-fit: contain;
            margin-right: 10px;
        }
    }
}

.content-button{
    display: flex;
    justify-content: center;
    margin-top: 80px;

    .button{
        display: inline-flex;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
        border: #C6B840 solid 2px;

        .text-button{
            font-family: 'Roboto Mono';
            font-size: 1.6rem;

            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}

.projects{
    margin-top: 60px;

    h2{
        margin-left: 20px;
        font-weight: 400;
    }
    .project-content{
        margin-top: 60px;

        .project-title{
            margin-top: 0px;
            display: flex;
            justify-content: center;
            gap: 10%;

            img{
                object-fit: contain;
                width: 25px;
            }

        }
        .p-image-content{
            
            margin-top: 20px;
            display: flex;
            justify-content: center;
        
            .p-image{
                object-fit: contain;
                width: 70%;
                height: 190px;
                position: absolute;
            }
        
            .p-rectangle{
                margin-top: 30px;
                margin-left: 25px;
                object-fit: contain;
                width: 70%;
            }
            .p-image-m{
                object-fit: contain;
                width: 30%;
                position: absolute;
            }
        
            .p-rectangle-m{
                margin-top: 10px;
                margin-left: 25px;
                object-fit: contain;
                width: 30%;
            }
        }
        .p-texte{
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 40px;

            p{
                margin-bottom: 20px;
                font-size: 1.6rem;
                font-weight: 300;
            }
        }
    }
}
