@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins";
  color: white;
  font-size: 10px;
}

.roboto {
  font-family: "Roboto Mono";
}

body {
  background: #232323;
}

header {
  position: sticky;
  top: 0;
  background-color: rgba(25, 25, 25, 0.4078431373);
}
header .navbar {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}
header .navbar .logo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50px;
}
header .navbar .menu {
  -o-object-fit: contain;
     object-fit: contain;
}

.index-content {
  margin-left: 20px;
  margin-top: 150px;
}
.index-content h2 {
  margin-bottom: 15px;
  font-size: 1.6rem;
  font-weight: 400;
}
.index-content h1 {
  font-size: 2.6rem;
  font-weight: 300;
  margin-bottom: 30px;
}
.index-content p {
  font-size: 1.6rem;
  font-weight: 300;
}

.main-content {
  margin-left: 20px;
  margin-top: 20px;
}
.main-content h2 {
  margin-bottom: 15px;
  font-size: 1.6rem;
  font-weight: 400;
}
.main-content p {
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: 300;
}

.image-content {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.image-content .image-moi {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
  height: 190px;
  position: absolute;
}
.image-content .rectangle {
  margin-top: 10px;
  margin-left: 30px;
}

.techno-content {
  margin-top: 50px;
  font-family: "Roboto Mono";
}
.techno-content h2 {
  margin-left: 20px;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 40px;
}

.lists-content {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-around;
}
.lists-content .list {
  margin-bottom: 20px;
  list-style: none;
}
.lists-content .flex-list {
  margin-bottom: 10px;
  display: flex;
}
.lists-content .flex-list img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}

.content-button {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.content-button .button {
  display: inline-flex;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: #C6B840 solid 2px;
}
.content-button .button .text-button {
  font-family: "Roboto Mono";
  font-size: 1.6rem;
}
.content-button .button .text-button a {
  text-decoration: none;
  color: white;
}

.projects {
  margin-top: 60px;
}
.projects h2 {
  margin-left: 20px;
  font-weight: 400;
}
.projects .project-content {
  margin-top: 60px;
}
.projects .project-content .project-title {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10%;
}
.projects .project-content .p-image-content {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.projects .project-content .p-image-content .p-image {
  -o-object-fit: contain;
     object-fit: contain;
  width: 70%;
  height: 190px;
  position: absolute;
}
.projects .project-content .p-image-content .p-rectangle {
  margin-top: 30px;
  margin-left: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 70%;
}
.projects .project-content .p-image-content .p-image-m {
  -o-object-fit: contain;
     object-fit: contain;
  width: 30%;
  position: absolute;
}
.projects .project-content .p-image-content .p-rectangle-m {
  margin-top: 10px;
  margin-left: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 30%;
}
.projects .project-content .p-texte {
  margin-left: 20px;
  margin-top: 40px;
}
.projects .project-content .p-texte p {
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-weight: 300;
}/*# sourceMappingURL=style.css.map */